
.resume-text{
    text-align: center;
    font-size: 34px;
    font-family: none;
    letter-spacing: 2px;
    color: azure;

}

.resume-fild{
    background-image: linear-gradient(to right, #140034 ,#170136 , #981a84,#9a3980);

}
.formal{
    margin: 7px;
    color: #fff;
    font-size: 15px;
    font-family: serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    font-weight: 500;

}

.component{
    border-left: 1px solid #8080806e;
}
 li{
    list-style: none;
}

.dispaly-icon{
    margin-left: 13px;
    display: flex;
}

.text-control{
    width: 100%;
}

.icon-control{
    background-color: #a6148b;
    padding: 4px;
    border-radius: 5px;
    padding-bottom: 20px;
}



.nested-link {
    text-decoration: none;
    color: black;
    
}

.dashboard-menu:hover{
    color: white;
    border-radius: 2px;
    background-color: #a6148b;
    height: 26px;
    
}

.fa-icon{
    color: white;
    margin-left: 2px;
    font-size: medium;
    margin-top: 35px;
}

.dashboard-menu{
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    margin-top: 33px;
    font-family: emoji;
    padding-left: 15px;
}

