
.pragraph{
    font-size: 12px;
    font-family: inherit;
    margin-left: 10px;
    letter-spacing: 1px;
    color: #3fe162;
}



    .university {
        margin-left: 9px;
        font-size: 14px;
        color: #ffffff;
        margin-top: 16px;
}

.year{
    padding: 3px 20px;
    font-size: 11px;
    background-color: #150135;
    border-radius: 10px;
    color: #e8e5eb;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
    margin-left: 42px;
}

.fild{
    display: flex
}

