
.pragraph{
    font-size: 12px;
    font-family: inherit;
    margin-left: 10px;
    letter-spacing: 1px;
}


.university{
    margin-left: 9px;
    font-size: 14px;
    color: #eb3517;
    margin-top: 16px;

}

.year{
    padding: 3px;
    font-size: 11px;
    background-color: #ff5900f7;
    padding: 3px -24px;
    border-radius: 11px;
    color: wheat;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;

}

.fild{
    display: flex
}

